@import "./sass/base/importbase";
@import "./sass/abstracts/importabstracts";
@import "./sass/layout/layoutimport";
@import "./sass/components/importcomponents";
@import "./sass/pages/pagesimport";

#intro {
  // height: calc(100vh - 128px);
  background-image: url("./assets/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  height: 793px;
}

#intro {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    &__top {
      width: 509px;

      h1 {
        @extend %custom-h1-style;
      }

      h4 {
        @extend %custom-h4-style;
      }

      &__buttons {
        display: flex;
        flex-direction: row;
        margin-top: 35px;
        gap: 10px;

        &--quote {
          @extend %custom-button-style;
          background-color: #f2aa48;
          color: #ffff;
          border: none;
        }

        &--learn {
          @extend %custom-button-style;
          border: 1px solid rgba(0, 160, 193, 1);
          width: 158px;
          background-color: transparent;
          color: #479ebd;
        }
      }
    }
    &__bot {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 80px;
      gap: 30px;
    }
  }
}

// Intro section ends

// Reason section starts
#reason {
  background-color: #fafafa;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 312px;
    gap: 50px;
    padding-bottom: 80px;

    p {
      text-align: center;
    }
  }

  .wrapper__bottom {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }
}
// Reason section ends
// Practice section starts

#practice {
  background-color: #fafafa;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;

    p {
      margin-top: 10px;
      text-align: center;
      padding-bottom: 45px;
    }

    .card__list {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding-bottom: 80px;
    }
  }
}

#service {
  padding-top: 100px;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;

    p {
      text-align: center;
      margin-top: 15px;
    }

    &__center {
      display: flex;
      margin-top: 100px;
      gap: 120px;
      align-items: center;
      justify-content: space-between;

      &__right {
        display: flex;
        flex-direction: column;

        p {
          text-align: left;
        }

        &__bot {
          display: flex;
          flex-direction: row;
          // align-items: center;
          justify-content: space-between;
          gap: 10px;
          margin-top: 30px;

          &--left {
            display: flex;
            flex-direction: column;
            gap: 75px;
          }
          &--right {
            margin-bottom: 30px;
            p {
              margin-top: 5px;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}
// Service page ends

// Partners section starts
#partners {
  background-color: #fafafa;

  .wrapper {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .partners {
      display: flex;
      flex-direction: row;
      gap: 100px;
      align-items: center;
      justify-content: space-between;
    }
  }
}
