 %custom-button-style {
     width: 187px;
     height: 48px;
     padding: 10px 36px 10px 36px;
     border-radius: 37px;
     gap: 10px;
     //styleName: btn-text;
     font-family: Montserrat;
     font-size: 14px;
     font-weight: 700;
     line-height: 28px;
     letter-spacing: 0.20000000298023224px;
     text-align: center;
     cursor: pointer;

     &:hover {
         box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
         text-decoration: underline;
     }

 }