// typographic rules
%custom-h1-style {
    font-family: Montserrat;
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: rgba(37, 43, 66, 1);
}
%custom-h4-style {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: rgba(115, 115, 115, 1);
}

h2 {
    //styleName: h2;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: rgba(115, 115, 115, 1);
}

h5 {
    //styleName: h5;
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: left;

}