// typographic rules
%custom-h1-style {
 
font-family: Montserrat;
font-size: 58px;
font-weight: 800;
line-height: 80px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: rgba(37, 43, 66, 1);


}
 %custom-h4-style {
   
font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: rgba(115, 115, 115, 1);

}